* {
  color: blueviolet;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2vh;


}

.description button {
  font-size: xx-large;
  background-color: blueviolet;
  border-color: rgb(32, 177, 19);
  color: rgb(101, 198, 218);
  text-shadow: 0 0 20px rgb(32, 177, 19), 0 0 30px rgb(32, 177, 19);
  border-radius: 2vh;

}

.description button:hover {
  background-color: rgb(101, 198, 218);
  color: blueviolet;
}

.main img {
  width: 40vh;
  height: 40vh;
  margin-right: 10vh;
  border-style: solid;
  border-top-color: rgb(32, 177, 19);
  border-bottom-color: rgb(32, 177, 19);
  border-color: 2px solid blueviolet;
  border-radius: 50%;

}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-left: 10vh;
  margin-right: 10vh;
  margin-top: 5vh;
}



.main * {
  margin-left: 5vh;
  margin-right: 5vh;
}

#planet {
  filter: opacity(0.4) drop-shadow(0 0 0 rgb(7, 255, 214));
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  flex-wrap: wrap;
  border-style: dashed;
  border-radius: 5vh;
}

.location_info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-top: 3vh;
  flex-wrap: wrap;
  border-style: dashed;
  border-radius: 2vh;
}

.info div {
  padding: 2vh;
}

h2 {
  max-width: 90vh;
  font-size: 13vh;
  font-optical-sizing: auto;
  color: rgb(192, 149, 231);
  font-family: get_schwifty, serif;
  animation: glow 1s ease-in-out infinite alternate;

}


@keyframes glow {
  from {
    color: rgb(23, 120, 139);
    text-shadow: 0 0 10px rgb(99, 255, 32), 0 0 10px rgb(99, 255, 32), 0 0 15px rgb(122 243 69), 0 0 20px rgb(122 243 69), 0 0 25px rgb(122 243 69), 0 0 30px rgb(122 243 69), 0 0 35px rgb(122 243 69);
  }

  to {
    color: rgb(30, 218, 255);
    text-shadow: 0 0 10px rgb(0, 0, 0), 0 0 15px rgb(48, 134, 11), 0 0 20px rgb(48, 134, 11), 0 0 25px rgb(48, 134, 11), 0 0 30px rgb(48, 134, 11), 0 0 35px rgb(48, 134, 11), 0 0 40px rgb(48, 134, 11);
  }
}

p {
  font-size: 5vh;
  color: rgb(192, 149, 231);
}