* {
  color: azure;
  padding: 5px;
}

body {
  padding: 1vh;
}

p {
  max-width: 130vh;
  font-size: 2.5vh;
  text-align: center;
}

.Home {
  display: flex;
  flex-direction: column;
  align-items: center;
}

button {
  color: rgb(10, 7, 26);
  font-weight: bold;
  font-size: 3vh;
  min-width: 30vh;
}

.r-a-m {
  max-width: 50vh;
}

.logo {
  max-height: 50vh;
}



button:hover {
  background-color: rgb(10, 7, 26);
  color: azure;
  border: 2px solid azure;
}

button.characters {
  border-top-left-radius: 2vh;
  border-bottom-left-radius: 2vh;
}

button.locations {
  border-top-right-radius: 2vh;
  border-bottom-right-radius: 2vh;
}